<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Layout</title>
    <link rel="stylesheet" href="css/grid.css">
</head>
<body>
  <nav>Nav</nav> 
  <header>Header</header> 
  <main>
      <article>
          Content
      </article>
      <aside>
          <ul>
              <li>Signup</li>
              <li>Feature</li>
              <li>Feature</li>
              <li>Feature</li>
          </ul>
      </aside>
  </main>
</body>
</html>