html {
    background: lightyellow;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background: green;
}

main {
    background: gray;
    flex: 1;
}

footer {
    background: red;
}