html {
	background : #f2f2f2;
	box-sizing: border-box;
	font-size : 10px;
	line-height : 1;
	height : 100%;
	overflow-x : hidden;
	width : 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

* {
	color : #8a8b8e;
	font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-weight : 400;
	font-size : 1.5rem;
	letter-spacing : 0;
	line-height : 1.47;
    margin : 0;
    padding : 0;
    text-align : left;

    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;

	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
    
	-webkit-text-rendering:optimizeLegibility;
	-moz-text-rendering:optimizeLegibility;
	-ms-text-rendering:optimizeLegibility;
	-o-text-rendering:optimizeLegibility;
    text-rendering:optimizeLegibility;
    
	-moz-osx-font-smoothing : grayscale;
	-webkit-text-size-adjust : none;
	-moz-text-size-adjust : none;
	-ms-text-size-adjust : none;
	text-size-adjust : none;
	-webkit-overflow-scrolling: touch;
}

body {
    background-color: #f2f2f2;
}

h1 {
	color : #000000;
	font-size : 3rem;
	font-weight : bold;
	line-height : 1.18;
	margin : 0 0 1.8rem;
}

h1::before {
    border-top : 1rem solid #000000;
    content : " ";
    display : block;
    margin-bottom : 1.6rem;
    width : 16rem;
}

h2 {
	color : #000000;
	font-size : 1.5rem;
	font-weight : bold;
	line-height : 1.18;
	margin : 1.8rem 0 1.2rem;   
	max-width : 97%; 
}

main {
    background : #ffffff;
    border-radius : 3px;
	margin : 1rem auto;
    max-width : 192rem;	
    min-width : 30rem;
    padding: 6rem 3rem;
	position : relative;
    width : 64vw;
	z-index : 0; 
}

/*Form styling*/

::-webkit-input-placeholder {
    color: #8a8b8e;  
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height : 1;
    opacity:  0.5;
}
:-moz-placeholder {
    color: #8a8b8e;  
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height : 1;
    opacity:  0.5;
}
::-moz-placeholder {
    color: #8a8b8e;  
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height : 1;
    opacity:  0.5;
}
:-ms-input-placeholder {  
    color: #8a8b8e;  
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height : 1;
    opacity:  0.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="date"]::-webkit-outer-spin-button, input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
} 
input[type="date"] {
    -moz-appearance: textfield;
    color: #8a8b8e;  
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height : 1;
    text-transform: lowercase;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index : 5;
    position : relative;
}

button, input, optgroup, select, textarea {
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;    
}

legend {
    border-top : 2px solid #000000;
    color : #000000;
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
    margin : 1.8rem 0;
    padding : 0.3rem 0 0 0;
    width : 100%;
}

fieldset + fieldset legend {
    margin-top : 1.8rem;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
}

fieldset + fieldset + fieldset legend {
    margin-top : 3.6rem;
}

label {
    display : inline-block;
    margin-right : 3%;
    padding : 0.9rem 0;
    vertical-align : top;
    width : 45%;
}

ul[role=group] {    
    display : inline-block;
    line-height : 1;
    margin : 1.6rem 0;
    vertical-align : top;
    width : 51%;
}

ul[role=group] li {
    border : 1px solid #bfbfbf;
    border-radius : 3px;
    float : left;
    font-size : 0;
    margin : 0 0;
    position : relative;
    width : 50%;
}

ul[role=group] li + li {
    border-left : 0;
}

ul.three li {
    width : 33.33333%;
}

ul[role=group] input[type=radio] {
	position: fixed;
    margin-top : 2rem;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

ul[role=group] input[type=radio] + label {
    border : 0;
    cursor : pointer;
    display : block;
    padding : 1.6rem 0 0.9rem 0;
    text-align : center;
    text-transform : uppercase;
	width : 100%;
}

ul[role=group] input[type="radio"]:checked + label {
    color : #be1400;
    -webkit-box-shadow : inset 0 -3px #be1400;
    -moz-box-shadow : inset 0 -3px #be1400;
    box-shadow : inset 0 -3px #be1400;
}

input {
    border : 0 none;
    border-bottom : 1px solid #bfbfbf;
    cursor : pointer;
    line-height : 1.46;
    padding : 0.9rem 0;
    
    display : inline-block;
    line-height : 1;
    vertical-align : top;
    width : 51%;
}

input.middle {
    width : 40%;
}

input.small {
    width : 10%;
}

input + span {
    background : #ffffff;
    margin-left : -1.9rem;
    padding : 0.1rem;
    position : relative;
    top : 0.8rem;
}

input ~ span svg,
.error-only svg {
    fill : #8a8b8e;
    height : 2rem;
    pointer-events: none;
    vertical-align: top;
    width : 1.5rem;
}

input + span.error-only,
.error-only {
    left : 20.5vw;
    opacity : 0;
    position : absolute;
}

input + span.error-only {
    left : 0;
    position : relative;
}

.error-only {
	padding-top : 0.9rem;
}

input[type="radio"]:invalid ~ .error-only {
    left: -1.5vw;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 2rem;
    opacity : 1;
}

input ~ span.error-only svg,
.error-only svg {
    fill : #000000;
}

input:invalid + span.error-only,
input:invalid + span + span.error-only {
	opacity : 1;
}

input[type="checkbox"]:invalid + label, 
input[type="radio"]:invalid + label {
    border-color: #000000;
    box-shadow : none;
}

input:invalid {
    box-shadow : none;
}

input:invalid {
	border-color : #000000;
    box-shadow : none;
}

button[type=submit] {
    background : #be1400;
    border : 3px solid #be1400;
    border-radius : 3px;
    color : #ffffff;
    cursor : pointer;
    float : right;
    font-size : 1.8rem;
    font-weight : 600;
    line-height : 1;
    margin : 3.6rem 0 0 ;
    min-width: 15rem;
    padding : 1.5rem 1rem;
    position : relative;
    text-align: center;
}

button[type=submit]:hover {
    background : #ffffff;
    color : #be1400;
}