body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align:center
}

h1 {
    color: #333333;
    font-size: 4em;
    font-variant: small-caps;
    margin: 0.5em;
    text-align: center;
}

form {
    background: rgba(0,0,0,0.05);
    margin: 2em auto 4em;
    max-width: 350px;
    padding: 1em 2em 2em;
    text-align: center;
    width: auto;
}

label {
    display: block;
    padding: 0 0 0.5em 0;
}

#result{
    display: block;
    padding: 2em;
    margin: 0 auto;

    max-width: 350px;
}

