html {
  box-sizing: border-box;
  font: 1.1em/1.4 Helvetica, sans-serif;
}

*, *::before, *::after { box-sizing: inherit; }

.wrapper {
  border: 5px solid rgb(86,98,110);
  border-radius: 5px;
  margin-bottom: 2em;
}

.wrapper > section {
  background-color: rgb(89,161,175);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}

.multicol {
  column-width: 250px;
  column-gap: 20px;
  padding: 10px;
}

.multicol p {
  margin: 0 0 1em 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > * {
  flex: 1 1 250px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 10px;
}