html {
  font: 1.1em/1.4 Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0 0 1em 0;
}

* { box-sizing: border-box; }

main {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  border: 5px solid rgb(86,98,110);
  border-radius: 5px;
  padding: 10px;
}

main > * {
  border: 5px solid rgb(89,161,175);
  border-radius: 5px;
  padding: 10px;
}

@media (min-width: 40em) {
  main {
    grid-template-columns: 2fr 1fr;
  }
  
  header,
  footer {
    grid-column: 1 / 3;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

section > * {
  flex: 1 1 250px;
  margin: 10px;
}