html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

body {
  display: grid;
  min-height: 100vh;
}

nav {
  background: darkblue;
  padding: 2em;
}

header {
  background: blue;
  padding: 5.2em 2em;
}

main {
  display: grid;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

article {
  background: lightgrey;
  flex: 100vw;
  padding: 6.2em 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: lightseagreen;
  padding: 2em 0;
}

li:nth-child(2) {
  background: orange;
}

li:nth-child(3) {
  background: pink;
}

li:last-child {
  background: grey;
}

 /* min-width 751px, large screens */
 @media only screen and (min-width: 46.938em) {
  main > :last-child {
    order: -1;
  }
  ul {
    grid-template-columns: repeat(auto-fit,minmax(33.3%, 1fr));
  }

  ul > :first-child {
    order: 4;
    grid-column: 1 / -1;
  }
}