* {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#nav-trigger {
	position: fixed;
	top: 0;
	right: 0;
	clip: rect(0,0,0,0);
	clip: rect(0 0 0 0);
}

#nav-trigger + label[for="nav-trigger"] {
	background-color: transparent;
	display: inline-block;
	margin: 1.5rem 0 1.5rem 2.7rem;
	padding: 0;
	width: 3.1rem;
	height: 2.3rem;
	font-size: 0;
	top: 1.7rem;
	right: 3.3rem;
	position: fixed;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	z-index: 2;
}

#nav-trigger:checked ~ label[for="nav-trigger"] {
  background-color: transparent;
  z-index: 5;
}

#nav-trigger + label[for="nav-trigger"] span {
	display: block;
	position: absolute;
	top: 0.5rem;
	left: 0;
	right: 0;
	height: 0;
	background-color: transparent;
	border-radius: 1rem;
}

#nav-trigger + label[for="nav-trigger"]::before, 
#nav-trigger + label[for="nav-trigger"]::after {
	background-color: #027a87;
	border: 0 none;
	border-radius: 1rem;
	content: " ";
	display: block;
	left: 0;
	height: 5px;
	position: absolute;
	width: 100%;
	-webkit-transition: all 0.25s ease-in-out 0.3s;
	transition: all 0.25s ease-in-out 0.3s;
}

#nav-trigger + label[for="nav-trigger"]::after {
	top: 1.4rem;
}

#nav-trigger + label[for="nav-trigger"]::before {
  top: -0.4rem;
}

#nav-trigger:checked + label[for="nav-trigger"]::before, #nav-trigger:checked + label[for="nav-trigger"]::after {
	background-color: #000000;
	left: 50%;
	top: 0.5rem;
	width: 0;
	-webkit-transition: top 0.25s ease-in-out 0.25s;
	transition: top 0.25s ease-in-out 0.25s;
}

#nav-trigger + label[for="nav-trigger"] span::before, 
#nav-trigger + label[for="nav-trigger"] span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #027a87;
	border-radius: 1rem;
	content: "";
	top: 0;
	-webkit-transition: -webkit-transform 0.25s ease-in-out 0.25s;
	transition: transform 0.25s ease-in-out 0.25s;
}

#nav-trigger:checked ~ label[for="nav-trigger"] span::before {
	background-color: #000000;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}

#nav-trigger:checked ~ label[for="nav-trigger"] span::after {
	background-color: #000000;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}

#nav-trigger ~ nav {
	background-color: #d2e7f2;
	bottom: 0;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: fixed;
	right: -35rem;
	top: 0;
	z-index: 3;
	width: 100%;
	width: auto;
	width: 34rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all;
	-webkit-transition-duration: 500ms;
	-webkit-transition-delay: 0.1s;
	transition: all;
	transition-duration: 500ms;
	transition-delay: 0.1s;
}

#nav-trigger:checked ~ nav {
	right: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

ul {
  list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	align-items: flex-end;
}

li {
	line-height: 1;
	padding: 0 2rem;
	width: 100%;
}

nav a {
	color: #3e3e3e;
	display: block;
	font-size: 2rem;
	margin: 0;
	padding: 0.5em;
	text-decoration: none;
}

/* min-width 751px, medium screens */
@media only screen and (min-width: 46.938em) {
  #nav-trigger ~ nav {
    position: static;
    width: 100%;
  }

  ul {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  nav a {
    font-size: 2.5vw;
  }

  #nav-trigger + label {
    position: fixed;
    top: 0;
    right: 0;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
  }
}